
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .n {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgb(104, 34, 37); 
  }
  
  .n a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .sn {
    float: left;
    overflow: hidden;
  }
  
  .sn .snb {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  #nnnn{
    display: flex;
    flex-direction: row;
  }
  .n a:hover, .sn:hover .snb {
    background-color: rgb(104, 34, 37);
  }
  
  .sc {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(104, 34, 37);
    width: 100%;
    z-index: 1;
  }
  
  .sc a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .sc a:hover {
    background-color: #eee;
    color: black;
  }
  
  .sn:hover .sc {
    display: block;
  }
  #logo{
    height: 30px;
    float: left;
  }


.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}


.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    color: #666;
}

.price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}

.cart-btn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.cart-btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
